//Vars
$track-color: #346d1f !default;

.pagination__wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 44px;
	margin: 20px auto;

	.pagination{
		width: min-content;
		margin: 0 15px;
		background: #EDEDED;
		border-radius: 20px;
	
		.page-wrapper{		
			

			.btn-paginate{
				padding: 10px 15px;
				border-radius: 100px;
				border-color: #EDEDED;
				background: #ccc;

				&:hover{
					background: $track-color;
					
				}
			}
		}
	
		.disabled{
			opacity: 0;
		}
	}
	.page-prev, .page-next {
		display: block;
		text-align: center;
		font-weight: 300;
		height: 40px;
		width: 40px;
		color: #999;
		font-size: 0.9em;
		padding: 10px;
		background-color: transparent;
		border-radius: 100px;
		box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,.35);
		cursor: pointer;

		&:hover{
			background:  #346d1f;
		}
	}

	.page-prev a{
		background: url('../../assets/chevron-left.svg') no-repeat center center;
		min-width: 100%;
		min-height: 100%;
		display: block;
	}

	.page-next a{
		background: url('../../assets/chevron-right.svg') no-repeat center center;
		min-width: 100%;
		min-height: 100%;
		display: block;
	}
}