.shopping-cart{
   padding: 20px;

    .empty-cart {
      position: relative;
      left: 45%;
  
      p{
        margin-bottom: 30px;
      }
    }
  
    .shopping-cart-items {
      display: flex;
      flex-direction: row;
      

      .shopping-cart__left{
        padding: 20px;
        flex: 3;
        
        .shopping-cart-title{
          background: #d2eec7;
          border-radius: 10px;
          padding: 20px;
          text-align: center;
        }

        ul.cart-product-card {
          display: flex;
          display: -webkit-box;
          display: -ms-flexbox;
          -ms-flex-wrap: wrap;
          margin-right: 40px;
          margin-bottom: 40px;
          flex-wrap: wrap;
          padding: 20px;
      
          li{
            padding: 20px;
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-right: 40px;
            margin-bottom: 40px;
          }
    
          .product-title{
            font-weight: 600;
            font-size: 20px;
          }
    
          .product-price {
            margin-bottom: 5px;
            font-weight: 700;
            font-family: "GTEestiProDisplay";
            font-size: 18px;
            line-height: 15px;
            white-space: normal;
          }

          .image-wrapper{

            min-height: 300px;

            img {
              max-height: 300px;
              max-width: 200px;
            }
          }
        
          
        
          .cart-counter{
            margin: 0 auto;
            width: 50%;
          }
    
          .card-row{
            margin: 20px 0;
          }
    
        }
    
      }

      .shopping-cart__right{
        padding: 20px;
        flex: 1;

        .cart-checkout {
          flex: 1;
          justify-content: center;
          text-align: center;
          display: flex;

          .cart-sum{

            p.sum {
              font-weight: 700;
              font-family: "GTEestiProDisplay";
              font-size: 18px;
              line-height: 15px;
              white-space: normal;
              margin-top: 10px;
              margin-bottom: 20px;
            }
            
          }
      
        }


      }


      
    }
  
   
   
  
  }


  @media screen and (max-width: 1024px) {
      

  }

   @media screen and (max-width: 768px) {
    .shopping-cart-items {
      flex-direction: column;
    }
    .cart-product-card {
      margin-right: 0px;
    }
    ul {
      justify-content: space-around;
    }
    img {
      width: auto;
      
    }

  }

  @media screen and (max-width: 425px) {

    .shopping-cart{

      .shopping-cart-items {
        flex-direction: column;

        .shopping-cart__left{
          order: 1;

          .cart-product-card{
            li{
              .product-top{
                .image-wrapper{

                  min-height: 200px;
                  
                  img{
                    max-height: 300px;
                    max-width: 250px;
                  }
                }
              }
            }
          }

          
        }

        .shopping-cart__right{
          order: -1;
        }

      }

      .empty-cart{
        position: static;
        text-align: center;
      }
    }
    
  }


  @media screen and (max-width: 320px) {

    .shopping-cart{
      .shopping-cart-items {
        flex-direction: column;

        .shopping-cart__left{
          order: 1;

          .cart-product-card{
            li{
              .product-top{
                .image-wrapper{

                  min-height: 100px;

                  img{
                    max-height: 200px;
                    max-width: 150px;
                  }
                }
              }
            }
          }

          
        }

        .shopping-cart__right{
          order: -1;
        }

      }
    }
    
  }