.shopping-cart{

    padding: 20px;

    .empty-cart {
      position: relative;
      left: 45%;
  
      p{
        margin-bottom: 30px;
      }
    }
  
    .shopping-cart-items {
      display: flex;
      flex-direction: row;
    }
  
    .cart-product-card {
      display: table;
      margin-right: 40px;
      margin-bottom: 40px;
      border: 1px solid #000;
  
      td{
        padding: 20px;
        border: 1px solid #000;
        text-align: center;
      }

      .product-price {
        margin-bottom: 5px;
      }
    
      img {
        max-height: 100px;
        max-width: 100px;
      }

    }

    .green-style{
      border-color: #579740;
      color: #579740;

      &:hover{
        background: #579740;
        color: #fff;
      }
    }
  
  }
  
  
  ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    flex: 2;
    padding-left: 0;
    justify-content: center;
  }

  .cart-checkout {
    flex: 1;
    justify-content: center;

    p{
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 18px;
    }  
  }
  
  
  @media(max-width: 600px) {
    .shopping-cart-items {
      flex-direction: column;
    }
    .cart-product-card {
      margin-right: 0px;
    }
    ul {
      justify-content: space-around;
    }
    img {
      width: auto;
    }
  }