$menu-item-color: #579740;

.menu-group{
    box-sizing: border-box;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    overflow: hidden;
    

        li{
            float: left;
            position: relative;
            width:auto;

        a{
            background: #579740;
            color: #FFFFFF;
            display: block;
            margin: 0 5px;
            font: bold 18px/20px sans-serif;
            padding: 10px 15px;
            text-align: center;
            -webkit-transition: all .25s ease;
            transition: all .25s ease;
    
            &:hover{
                background: #000000;
                
            }
        }
    }

    

}

 @media screen and (max-width: 1024px) {
      

  }

   @media screen and (max-width: 768px) {
      

  }


  @media screen and (max-width: 320px) {

    .categories{
        width: 100%;
        position: absolute;
        left: 0;
        top: 14%;
        z-index: 998;
        animation-duration: 2s;
        animation: slidein;
        animation-iteration-count: infinite;

        @keyframes slidein {

            from {
                height: 0%;
                width: 0;
            }

            to{
                height: 100%;
                width:100%;
            }
            
        }

        &.not-shown{
            height: 0;
            width: 0%;
        }

      ul.menu-group{
        

          li{
              border: 1px solid white;
              width: 100%;
          }
      }
    }

  }
