
/* For Input*/
$track-color: #346d1f !default;
$thumb-color: #607d8b !default;
$contrast: 5% !default;

$thumb-radius: 12px !default;
$thumb-height: 24px !default;
$thumb-width: 24px !default;
$thumb-shadow-size: 4px !default;
$thumb-shadow-blur: 4px !default;
$thumb-shadow-color: 0px 0px 0px rgba(0, 0, 62, 0), 0px 0px 0px rgba(0, 0, 88, 0) !default;
$thumb-border-width: 2px !default;
$thumb-border-color: #346d1f !default;

$track-border-width: 4px !default;
$track-height: 8px !default;
$track-width: 100% !default;
$track-shadow-color: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0) !default;
$track-border-color: #346d1f !default;


$track-radius: 5px !default;
$primary-color: #346d1f;
$ie-bottom-track-color: darken($track-color, $contrast) !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}


@mixin track {
  cursor: default;
  height: $track-height;
  transition: all .2s ease;
  width: $track-width;
}

@mixin thumb {
  @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
  background: $thumb-color;
  border: $thumb-border-width solid $thumb-border-color;
  border-radius: $thumb-radius;
  box-sizing: border-box;
  cursor: default;
  height: $thumb-height;
  width: $thumb-width;
}


.filterIcon {
    transition: 0.2s linear;
    right: 8px;
    position: fixed;
    top: 15%;
    padding: 10px 14px;
    border-radius: 25%;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px #c5c5c5;
    svg {
      color: white;
    }
  }
  
  #filter {
    margin-bottom: 1em;
    text-align: center;
  }
  
  .filterWrapper-text {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .filterWrapper {
    right: -100%;
    top: 0;
    height: 100%;
    position: fixed;
    width: 300px;
    background-color: #f9f9f9;
    box-shadow: none;
    z-index: 2;
    transition: right 0.2s linear;
    padding: 20px;
    &.show {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.19);
      visibility: visible;
      transition-delay: 0s;
      right: 0px;
    }
    &.show .filterIcon {
      display: none;
    }
  
      .filter-inner {
        .filter-property {
          margin: 10px 0;
          text-align: left;
          padding: 20px 0;
         
          .filter-property--title {
            font-size: 15px;
            color: #333;
            margin-bottom: 5px;
            display: block;
          }
  
          select {
            &.filter-property--body {
              border-radius: 3px;
              outline: 0;
              padding: 5px;
              width: 100%;
              cursor: pointer;
            }
          }

          /* Slider */
          input[type='range'].slider {
            -webkit-appearance: none;
            width: 100%;
            margin: 25px 0 5px;
          }
          
          input[type='range'].slider:focus {
            outline: none;
          }
          
          input[type='range'].slider::-webkit-slider-runnable-track {
            width: 100%;
            height: $track-height;
            cursor: pointer;
            -webkit-box-shadow: $track-shadow-color;
                    box-shadow: $track-shadow-color;
            background: $track-color;
            border-radius: $track-radius;
            border: 0px solid rgba(1, 1, 1, 0);
          }
          
          input[type='range'].slider::-webkit-slider-thumb {
            -webkit-box-shadow: $thumb-shadow-color;
                    box-shadow: $thumb-shadow-color;
            border: $thumb-border-width solid $thumb-border-color;
            height: $thumb-height;
            width: $thumb-width;
            border-radius: $thumb-radius;
            background: #ffffff;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -6.35px;
          }
          
          input[type='range'].slider:focus::-webkit-slider-runnable-track {
            background: $thumb-color;
          }
          
          input[type='range'].slider::-moz-range-track {
            width: 100%;
            height: $track-height;
            cursor: pointer;
            box-shadow: $track-shadow-color;
            background: $track-color;
            border-radius: $track-radius;
            border: 0px solid rgba(1, 1, 1, 0);
          }
          
          input[type='range'].slider::-moz-range-thumb {
            box-shadow: $thumb-shadow-color;
            border: $thumb-border-width solid $thumb-border-color;
            height: $thumb-height;
            width: $thumb-width;
            border-radius: $thumb-radius;
            background: #ffffff;
            cursor: pointer;
          }
          
          input[type='range'].slider::-ms-track {
            width: 100%;
            height: $track-width;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            color: transparent;
          }
          
          input[type='range'].slider::-ms-fill-lower {
            background: $thumb-color;
            border: 0px solid rgba(1, 1, 1, 0);
            border-radius: $thumb-radius;
            box-shadow: $track-shadow-color;
          }
          
          input[type='range'].slider::-ms-fill-upper {
            background: $track-color;
            border: 0px solid rgba(1, 1, 1, 0);
            border-radius: $track-radius;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
          }
          
          input[type='range'].slider::-ms-thumb {
            box-shadow: 0px 0px 0px rgba(0, 0, 62, 0), 0px 0px 0px rgba(0, 0, 88, 0);
            border: $thumb-border-width solid $thumb-border-color;
            height: $thumb-height;
            width: $thumb-width;
            border-radius: $thumb-radius;
            background: #ffffff;
            cursor: pointer;
          }
          
          input[type='range'].slider:focus::-ms-fill-lower {
            background: $track-color;
          }
          
          input[type='range'].slider:focus::-ms-fill-upper {
            background: $track-color;
          }
        }
     

          


          .min{
            float: left;
          }

          .max{
            float: right;
          }

        }
      }
      
  
    .clear-result__wrapper{
  
      text-align: center;
      margin: 20px 0;
  
      .clear-results__btn{
      outline: none;
      padding: 10px;
      border: 1px solid black;
    
      }
    }

    @media screen and (max-width: 1024px) {

    }
  
  
  @media screen and (max-width: 768px) {
    #filter {
      select {
        width: 40%;
      }
    }
  
    .card:nth-child(3n) {
      margin-right: 1em;
    }
  
    .card:nth-child(2n) {
      margin-right: 0;
    }
  }
  
  @media screen and (max-width: 425px) {

    .filterWrapper{
      .filterIcon{
        right: 10px;
      }
    }
    #filter {
      select {
        width: 60%;
      }
    }
  }

  @media screen and (max-width: 320px) {

  }