.login-form__wrapper{

   
    padding: 35px;
    justify-content: center;
    display: flex;
  

    .form__inner{
        padding: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 450px;
        width: 30vw;

        .login-form{
            width: 100%;

            input + p.error{
                color:red;
            }   

            .form__controls{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

      
    }


}

@media screen and (max-width: 1024px) {
    .login-form__wrapper{
        .form__inner{
            width: 50vw;
        }
    }
}

 @media screen and (max-width: 768px) {
    

}

@media screen and (max-width: 425px) {
    .login-form__wrapper{
        .form__inner{
            width: 80vw;
        }
    }

}


@media screen and (max-width: 320px) {
    .login-form__wrapper{
        .form__inner{
            width: 75vw;
        }
    }

}