.btn-group-sort{
    display: inline-flex;
    align-items: center;

    .btn-sort{
        margin: 0 5px;

        &:hover{
            background: #bebebe;
        }
    } 
}

@media screen and (max-width: 1024px){
    .btn-group-sort{
        justify-content: center;
    }
  }

@media screen and (max-width: 425px){
    .btn-group-sort{
        flex-direction: column;
        margin: 4px 5px;
 
   }
 }

@media screen and (max-width: 320px){
    .btn-group-sort{
        flex-direction: column;
        .btn-sort{
            margin: 4px 5px;
        }
        
 
   }
 }