.registration-form__wrapper{

    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;

    .form__inner{
        padding: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 450px;
        width: 30vw;

        .login-form{
            width: 20vw;

            input + p.error{
                color:red;
            }   

            .form__btn{
                display: flex;
                justify-content: center;
                align-items: top;
            }
        }

      
    }


    

}


@media screen and (max-width: 768px) {
    .login-form__wrapper{
        .form__inner{
            width: 60vw;

            .login-form{
                width: 100%;
            }
        }
    }

}

@media screen and (max-width: 425px) {
    .login-form__wrapper{
        .form__inner{
            width: 80vw;

            .login-form{
                width: 100%;
            }
        }
    }

}


@media screen and (max-width: 320px) {
    .login-form__wrapper{
        .form__inner{
            width: 75vw;

            .login-form{
                width: 100%;
            }
        }
    }

}
