.cart-item {
  display: flex;

  .cart-item__content{
    display: flex;

    .cart-item__right{
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 16px;
      width: 100%;

      .cart-item__title{
        font-weight: 700;
      }
    }
  }

  .cart-item__image{
    max-width: 92px;
    max-height: 92px;
  }
}