
html, body {
    box-sizing: border-box;
    height: 100vh;


    .icon-size-m{
      font-size: 1em;
    }
    
    .icon-size-xl{
      font-size: 2em;
    }
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  
  
  
  .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #000;
      opacity: 0.3;
  }
  
  #main-wrapper {
    color: #333;
    font-size: 1.1rem;
    line-height: 1.6rem;  
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .max-width-block {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }
  
  .bg-blue{
    background-color: #2b87d8;
  }
  
  .bg-light-green{
    background-color: #e5ede2;
  }
  
  .bg-dark{
    background-color: #232323;
  }
  
  .bg-grey{
    background-color: #C3C1C0;
  }
  
  body.bg-dark{
  
    #main-wrapper{
      color: white;
    }
  
    .header.bg-blue{
      background-color: #232323;
    }
  
    .card{
      background-color: #C3C1C0;
    }
  
    .task{
      background-color: #C3C1C0;
    }
  
    footer {
      background-color: #232323;
    }
  
    .footer-icon{
      color: white;
    }
  
    .filterIcon {
      background-color: #232323;
    }
  
    .filterWrapper{
      color: white;
      background-color: #232323;
    }
  
  }
  
  .bg-white{
    background-color: white;
  }
  
  .noty_type__alert {
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12),
                0 3px 1px -2px rgba(0, 0, 0, 0.2);
  
    button {
      background-color: #fff;
      border: 1px solid #757575;
      border-radius: 3px;
      cursor: pointer;
      line-height: 1rem;
      margin-right: .5rem;
      padding: 3px 7px;
  
      &.danger {
        background-color: #de636f;
        border: 1px solid #CA5A65;
        color: #fff;
      }

    }


  
  }

  button{
    &.btn-primary{
      background: #fff;
      color: #5044ff;
      padding: 10px 30px;
      font-size: 13px;
      outline: none;
      border: 1px solid #5044ff;
      border-radius: 1000px;
      transition: all .2s ease-in;
      opacity: 1;
      cursor: pointer;

      &:hover{
        background: #5044ff;
        color: #fff;
      }

    }

    &.red-style{
      background: #fff;
      color: #000;
      border-color: #e6270e;
      &:hover{
        background: #e6270e;
        color: #fff;
      }
    }

    &.shop-cart{
      background: #fff;
      color: #6de97d;
      padding: 10px 30px;
      font-size: 13px;
      outline: none;
      border: 1px solid #6de97d;
      border-radius: 1000px;
      transition: all .2s ease-in;
      opacity: 1;
      cursor: pointer;

      &:hover{
        background: #6de97d;
        color: #fff;
      }
    }




  }